
<div class="category-container">
  <div>
    <h2>Nome da Categoria: {{category.nome_categoria}}</h2>
    <h2>Descrição da Categoria: {{category.descricao}}</h2>
    <div>
      <a href="/categories">Voltar</a>
      <a href="/categories/edit/{{category.idCategoria}}">Editar</a>
      <form action="/categories/remove/{{category.idCategoria}}" method="POST">
        <input type="submit" class="vermelho" value="Deletar" onclick="return confirmarAcao()">
      </form>
    </div>
  </div>
</div>
 

<script>
  function confirmarAcao() {
    const nomeCategoria = "{{category.nome_categoria}}"

    // Exibe a caixa de diálogo de confirmação de exclusão
    const confirmacao = confirm("Tem certeza que deseja prosseguir com a exclusão da Categoria?" +
      "Categoria: " + nomeCategoria
    );

    // Verifica se o usuário clicou em "OK"
    if (confirmacao) {
      // Se confirmado, o formulário será enviado
      alert("Categoria: " + nomeCategoria + " - Excluida com Sucesso!!!")
      return true;
    } else {
      // Caso o usuário clique em "Cancelar" ou feche a caixa de diálogo
      return false;
    }
  }
</script>
